[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
matplotlib = "*"
scikit-image = "*"
napari = "*"
pillow = "*"
utils = "*"
cellpose = {extras = ["gui"], version = "*"}
tifffile = "*"
opencv-python = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
